<footer class="footer">

  <a class="social-link" href="https://github.com/tyebean">
    <img class="social" src="/images/social/github.png" alt="A GitHub icon linking to Tye Webster's Github">
  </a>
  <a class="social-link" href="https://www.linkedin.com/in/tye-webster-592579230/">
    <img class="social" src="/images/social/linkedin.png" alt="A LinkedIn icon linking to Tye Webster's LinkedIn">
  </a>
</footer>
</body>

</html>