<% if (!user) { %>
  <link rel="stylesheet" href="/public/stylesheets/siwg.css">
  <% } %>
    </head>
    <!----------------------------------------------->

    <body>
      <nav class="nav">
        <% if (user) { %>
          <a style="text-decoration: none; font-size: 1.4rem;" href="/posts">
          <text>🌷</text>
        </a>
        <a class="nav-link" href="/posts">Feed</a>
        <a class="nav-link" href="/posts/new">Proclaim</a>
        <a class="nav-link" href="/auth/logout">Logout</a>
      </nav>
      <% } else { %>
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
        <% } %>
          </nav>