<!-- *Landing / Login Page -->
<%- include('./partials/html-head') %>

  <main>
    <div class="sign-in">
      <img class="love-letter" src="/main-l-letter.png" alt="An image of a envelope with a heart">
      <h1 class="title">PROCLAIM</h1>
      <div class="auth-google-div">
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
      </div>
    </div>
  </main>

  <%- include('./partials/footer') %>