<%- include('./partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/siwg.css">

<main>
  <div class="sign-in">
    <img class="love-letter" 
    src="/images/favicon/l-letter.png" 
    alt="An image of a envelope with a heart">
    <h1>PROCLAIM</h1>
    <div>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    </div>
  </div>
</main>

<%- include('./partials/footer') %> 