.footer {
  background-color:#f7a0a0;
  position:fixed;
  left:0;
  right: 0;
  bottom:0;
  width:100%;
  text-align:center;
  padding: 12px;
}

.social{
  max-height:35px;
  margin: 10px;
}

.social-link{
  text-decoration-line: none;
}