.nav {
  background-color: #f1fca7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  padding: .5rem;
}

.nav-link {
  color: #26440f;
  font-weight: bold;
}