/* flexbox */
/* Understanding rem for the first time lol: https://www.sitepoint.com/understanding-and-using-rem-units-in-css/ */

.post{
  background: white;
  border-radius: .5rem;
  padding: 1.0rem;
  box-shadow: 1.2rem 1.2rem .2rem .01rem #651ea817;
  margin: 1.0rem;
  font-size: .9rem;
}

/* @media only screen and (min-width: 768px) {
  body{
    min-width: 700px;
    min-height: 450px;
  }
} */

  .outer-container{
    margin: 8.5%;
    margin-top: 5%;
    padding-bottom: 10%;
  } 

/* flexbox */
.username-and-avatar{
  display: flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
}

.avatar{
  border-radius: 50px;
}

.username{ 
  color: black;
  display: inline-block;
  margin-left: 15px;
}

.time{
  display: inline-block;
  color: grey;
  text-align: right;
}

.post-content{
  margin: 20px 0 0 20px;
}

.link-to-comments{
  color: #dd4a79;
  text-decoration: underline;
  text-align: right;
}

.link-to-comments:hover {
  color: #2fc934;
}

.comments-p{
  margin: auto;
  margin-right: 25px;
}
