/* flexbox */
/* Understanding rem for the first time lol: https://www.sitepoint.com/understanding-and-using-rem-units-in-css/ */

.post{
  background: white;
  border-radius: .5rem;
  padding: 2.0rem;
  box-shadow: 1.2rem 1.2rem .2rem .01rem #651ea817;
  margin: 2.0rem;
  font-size: .9rem;
  max-height: 30rem;
  overflow: auto;
}

.edit-post{
  width: 100%;
}

.outer-container{
  margin: 8.5%;
  margin-top: 5%;
  padding-bottom: 10%;
} 

/* flexbox */
/* ! maybe fix this to not.... be a flexbox <3 */
.username-and-avatar{
/* border: 2px solid black; */
  display: flexbox;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 2rem;
}

.avatar{
  border-radius: 5rem;
  -webkit-user-drag: none;
}

.username{ 
  color: black;
  display: inline-block;
  margin-left: 15px;
}

.time{
  display: inline-block;
  color: grey;
  text-align: right;
}

.post-content{
  margin: 20px 0 0 20px;
}

.link-to-comments{
  color: #dd4a79;
  text-decoration: underline;
  text-align: right;
}

.link-to-comments:hover {
  color: #2fc934;
}

.comments-p{
  margin: auto;
  margin-right: 25px;
}

.del-n-update {
  display: inline;
  color: red;
}

#delete-button{
  float: left;
}

#update-button{
  float: right;
}