/* flexbox */
.post{
  background: white;
  border-radius: 10px;
  padding: 10px;
  display: flexbox;
  flex-direction: row;
  box-shadow: 12px 12px 2px 1px #651ea817;
  min-width: 500px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* flexbox */
.username-and-avatar{
  display: flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
}

.avatar{
  border-radius: 50px;
}

.username{ 
  color: black;
  display: inline-block;
  margin-left: 15px;
}

.time{
  display: inline-block;
  color: grey;
  text-align: right;
}

.post-content{
  margin: 20px 0 0 20px;
}

.link-to-comments{
  color: #ff0000;
  text-decoration: underline;
  text-align: right;
}

.comments-p{
  margin: auto;
  margin-right: 25px;
}
