<!-- * NEW POST PAGE -->
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <title>Proclaim: New Post</title>
</head>
<body>
  <h1>NEW POST</h1>
  <div class="post">
    <form action="/posts" method="post">
      <label>
        Post Content
        <input type="text" name="text" id="text">
        <button type="submit">Proclaim!</button>
      </label>
    </form>
  </div>
</body>
</html> 

<%- include('../partials/footer') %>
